<h1 style="color:rgb(7, 4, 10);">ALL TIME GREAT QUOTES</h1>

<div class="row">
  <div class="col md-6" id="form">
      <app-quote-form [addNewQuote]='addNewQuoteFunc' ></app-quote-form>
  </div>
  <div class="col md-6" id="quote">
    <h2 style="text-decoration:underline;"><b>"Quotes"</b></h2>
    <div class="" *ngFor="let quote of quotes;let i = 'index'">
      <!-- <p>{{quote.title}}</p> -->
      <p>{{quote.author}}</p>
      <!-- <p>{{quote.Quote}}</p> -->
      <!-- <p>{{quote.submitter}}</p> -->
        <button class="btn btn-success"  (click)='toggleDetails(i)'>Quote Details</button>
      <div *ngIf="quote.showDescription">
          <app-quote-details [quote]='quote' (isRating)='increaseRating($event,i)' (isDelete)='deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>
  </div>
</div>

<h3 style="text-align:center; ">Great all time quotes.</h3>
