<div container= "container-fluid text-center">
  
    <div class="panel panel-info">
    <form (ngSubmit)='addNewQuote(title.value,author.value,entry.value)' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Title</label>
        <input  type="text" class="form-control form-control-lg text-center" id="title" [(ngModel)]="newQuote.title" name="title" #title="ngModel" required>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          <h4>Complete the field</h4>
        </div>

      </div>

      <div class="form-group">

        <label for="name">Author</label>
        <input  type="text" class="form-control form-control-lg text-center" id="author" [(ngModel)]="newQuote.author" name="author" #author ="ngModel" required>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <h4>Input author's name!</h4>
        </div>

      </div>

      <div class="form-group">

        <label for="name">Quote</label>
        <textarea class="form-control" id="entry" rows="4" [(ngModel)]="newQuote.entry" name="entry" #entry="ngModel" required></textarea>
        <div [hidden]="entry.valid || entry.pristine" class="alert alert-danger">
          <h4>Input Quote!</h4>
        </div>

      </div>

      <div class="form-group">

          <label for="name">Submitter</label>
          <input  type="text" class="form-control form-control-lg text-center" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter" #submitter ="ngModel" required>
          <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
            <h4>Input your name!</h4>
          </div>
  
        </div>

      <button type="submit" class="btn btn-primary btn-lg">Add Quote</button>
    </form>
  </div>
</div>